.app-header {
  background: #F6F7F9;
  padding: 0 24px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  font-size: 28px;
  color: #1677ff; /* Ant Design 主题蓝 */
}

.logo-title {
  color: #000 !important; /* antd Title自带margin，需要微调 */
  margin: 0 0 0 12px !important;
  font-weight: 600;
}

.header-right-container{
  display:flex;
  align-items:center;
  gap:20px;
  margin-left: auto;
}

.user-info-container {
  display:flex;
  align-items: center;
}

.user-name {
  margin: 0 !important; /* 清除 Antd Title 自带的上下边距 */
  color: #333 !important;
  font-size: 16px !important; /* 微调字体大小，更适配导航栏 */
}

.logout-container {
  cursor: pointer;
}

.logout-btn:hover {
  color: #1677ff !important; 
}


